<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Building Slides from Screenshots App in JavaFX
  </a>
  <ul>
    <li>
      <a href="#sharing-a-story-from-screenshots">
        Sharing a Story from Screenshots
      </a>
      <ul>
        <li>
          <a href="#domain-engineering">
            Domain Engineering
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#getting-started">
        Getting Started
      </a>
      <ul>
        <li>
          <a href="#initial-master-view-detail-layout-with-drag-and-drop-listview">
            Initial Master-View-Detail Layout with Drag-and-Drop ListView
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#application-data">
        Application Data
      </a>
      <ul>
        <li>
          <a href="#local-storage-implementation">
            Local Storage Implementation
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#master-pane">
        Master Pane
      </a>
      <ul>
        <li>
          <a href="#initializing-the-app-controller">
            Initializing the App Controller
          </a>
        </li>
        <li>
          <a href="#drag-and-drop">
            Drag and Drop
          </a>
        </li>
        <li>
          <a href="#list-view">
            List View
          </a>
        </li>
        <li>
          <a href="#deleting-items">
            Deleting Items
          </a>
        </li>
        <li>
          <a href="#arranging-image-items-via-more-drag-and-drop">
            Arranging Image Items via More Drag and Drop
          </a>
          <ul>
            <li>
              <a href="#cell-drag-and-drop-implementation">
                Cell Drag and Drop Implementation
              </a>
            </li>
            <li>
              <a href="#controller-update">
                Controller Update
              </a>
            </li>
            <li>
              <a href="#app-css-styles">
                App CSS Styles
              </a>
            </li>
            <li>
              <a href="#order-of-the-presentation-slides">
                Order of the Presentation Slides
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#menu-bar">
        Menu Bar
      </a>
    </li>
    <li>
      <a href="#view-detail-and-app-domain">
        View Detail and App Domain
      </a>
      <ul>
        <li>
          <a href="#refactorizations-on-data-and-ui">
            Refactorizations on Data and UI
          </a>
        </li>
        <li>
          <a href="#pagination">
            Pagination
          </a>
        </li>
        <li>
          <a href="#slides">
            Slides
          </a>
        </li>
        <li>
          <a href="#reusing-enums-by-converting-them-into-english-strings">
            Reusing Enums by Converting Them into English Strings
          </a>
        </li>
        <li>
          <a href="#detail-pane">
            Detail Pane
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#view-pane-and-drawing">
        View Pane and Drawing
      </a>
      <ul>
        <li>
          <a href="#drawing-package">
            Drawing Package
          </a>
        </li>
        <li>
          <a href="#drawing-view">
            Drawing View
          </a>
          <ul>
            <li>
              <a href="#updating-the-controller-with-the-drawing-view">
                Updating the Controller with the Drawing View
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#code-snippet-slide">
        Code Snippet Slide
      </a>
      <ul>
        <li>
          <a href="#adding-a-new-empty-slide">
            Adding a New Empty Slide
          </a>
        </li>
        <li>
          <a href="#updating-the-model-with-the-slide-language-and-caption">
            Updating the Model with the Slide Language and Caption
          </a>
        </li>
        <li>
          <a href="#code-shot-slide">
            Code Shot Slide
          </a>
        </li>
        <li>
          <a href="#package-lang">
            Package Lang
          </a>
        </li>
        <li>
          <a href="#code-snippet-drawing">
            Code Snippet Drawing
          </a>
          <ul>
            <li>
              <a href="#rendering-captions">
                Rendering Captions
              </a>
            </li>
            <li>
              <a href="#putting-the-drawing-together">
                Putting the Drawing Together
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#drawing-shapes">
        Drawing Shapes
      </a>
    </li>
    <li>
      <a href="#integrating-ai-via-ocr">
        Integrating AI via OCR
      </a>
    </li>
    <li>
      <a href="#designing-an-auto-save-mechanism">
        Designing an Auto Save Mechanism
      </a>
    </li>
    <li>
      <a href="#automation-of-screenshots-and-code-snippets-content">
        Automation of Screenshots and Code Snippets Content
      </a>
    </li>
  </ul>
</nav>