<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Celebrating the Possibility of Having a Computer to Work with (2023/09/11)
  </a>
  <ul>
    <li>
      <a href="#inception:-the-imaginary-computer-and-the-cyber-era">
        Inception: The Imaginary Computer and the Cyber Era
      </a>
    </li>
    <li>
      <a href="#extreme-decade-challenges">
        Extreme Decade Challenges
      </a>
      <ul>
        <li>
          <a href="#my-very-first-computer">
            My Very First Computer
          </a>
        </li>
        <li>
          <a href="#the-first-computer-i-bought">
            The First Computer I Bought
          </a>
        </li>
        <li>
          <a href="#my-mobile-phone-during-the-university">
            My Mobile Phone during the University
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#my-opportunity:-the-optiplex-790">
        My Opportunity: The Optiplex 790
      </a>
      <ul>
        <li>
          <a href="#the-first-time-i-could-have-a-powerful-computer">
            The First Time I Could Have a Powerful Computer
          </a>
        </li>
        <li>
          <a href="#moving-forward-times">
            Moving Forward Times
          </a>
          <ul>
            <li>
              <a href="#last-challenges">
                Last Challenges
              </a>
            </li>
            <li>
              <a href="#my-new-phone:-the-lg-g8x">
                My New Phone: The LG G8X
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#addressing-challenging-computer-needs-over-the-decades-with-innate-tech-skills">
        Addressing Challenging Computer Needs Over the Decades with Innate Tech Skills
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>