<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Cookie Consent v0.1.0 | MathSwe Legal (2024/03/29)
  </a>
  <ul>
    <li>
      <a href="#new-cookie-consent-microservice">
        New Cookie Consent Microservice
      </a>
    </li>
    <li>
      <a href="#requesting-a-consent">
        Requesting a Consent
      </a>
    </li>
    <li>
      <a href="#complying-with-the-gdpr">
        Complying with the GDPR
      </a>
      <ul>
        <li>
          <a href="#consent-definition-and-implementations">
            Consent Definition and Implementations
          </a>
        </li>
        <li>
          <a href="#proof-of-consent">
            Proof of Consent
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#validating-the-design-of-consent-records">
        Validating the Design of Consent Records
      </a>
      <ul>
        <li>
          <a href="#references-on-cookie-compliance-providers">
            References on Cookie Compliance Providers
          </a>
        </li>
        <li>
          <a href="#validating-the-data-stored-in-consent-records">
            Validating the Data Stored in Consent Records
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#initial-release-of-the-mathswe-cookie-consent-service">
        Initial Release of the MathSwe Cookie Consent Service
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>