<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Designing the Angle Geometry for the Oriented Segment of Canvas Play
  </a>
  <ul>
    <li>
      <a href="#the-line-type-of-canvas-play">
        The Line Type of Canvas Play
      </a>
    </li>
    <li>
      <a href="#angle-definitions">
        Angle Definitions
      </a>
    </li>
    <li>
      <a href="#leveraging-powerful-functional-abstractions">
        Leveraging Powerful Functional Abstractions
      </a>
    </li>
    <li>
      <a href="#high-level-angles">
        High-Level Angles
      </a>
    </li>
    <li>
      <a href="#the-power-of-domain-language-engineering">
        The Power of Domain Language Engineering
      </a>
    </li>
    <li>
      <a href="#the-oriented-segment-of-canvas-play">
        The Oriented Segment of Canvas Play
      </a>
    </li>
  </ul>
</nav>