<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Domain and AI Engineering on Slides EP (2023/10/23)
  </a>
  <ul>
    <li>
      <a href="#slides-ep">
        Slides EP
      </a>
    </li>
    <li>
      <a href="#domain-engineering">
        Domain Engineering
      </a>
      <ul>
        <li>
          <a href="#domain-composition-versus-magic">
            Domain Composition Versus Magic
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#ocr-side-effects">
        OCR Side Effects
      </a>
    </li>
    <li>
      <a href="#ai-should-be-a-bridge-in-your-system-boundary">
        AI should be a Bridge in your System Boundary
      </a>
    </li>
    <li>
      <a href="#applying-ai-to-automate-your-domain">
        Applying AI to Automate your Domain
      </a>
    </li>
  </ul>
</nav>