<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Drawing a Sierpinski Petal Mandala Fractal in JavaFX
  </a>
  <ul>
    <li>
      <a href="#getting-started">
        Getting Started
      </a>
      <ul>
        <li>
          <a href="#package-app">
            Package App
          </a>
        </li>
        <li>
          <a href="#canvas-view">
            Canvas View
          </a>
        </li>
        <li>
          <a href="#getting-started-with-a-playground">
            Getting Started with a Playground
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#drawing-a-flower">
        Drawing a Flower
      </a>
    </li>
  </ul>
</nav>