<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Ensuring Principle Compliance: This Line Sum Type is Not a Partition (2023/12/07)
  </a>
  <ul>
    <li>
      <a href="#initial-dsl-for-drawing-shapes-in-canvas-play">
        Initial DSL for Drawing Shapes in Canvas Play
      </a>
    </li>
    <li>
      <a href="#sum-types-must-be-partitions">
        Sum Types must be Partitions
      </a>
    </li>
    <li>
      <a href="#current-design-of-a-line-shape">
        Current Design of a Line Shape
      </a>
    </li>
    <li>
      <a href="#identification-of-design-flaws-in-sum-types">
        Identification of Design Flaws in Sum Types
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>