{% include menu.html %}

<div class="nav row">
  <section class="col-6">
    <h5>
      MSW Engineer
    </h5>
    <ul>
      <li>
        <a href="https://mathsoftware.engineer">Engineer</a>
      </li>
      <li>
        <a href="https://dev.mathsoftware.engineer">Dev</a>
      </li>
      <li>
        <a href="https://blog.mathsoftware.engineer">Blog</a>
      </li>
      <li>
        <a href="https://me.mathsoftware.engineer">About Me</a>
      </li>
    </ul>
  </section>

  <section class="col-6">
    <h5>
      Tobias Briones
    </h5>

    <div class="social my-2">
      <div>Follow me for more original content:</div>

      <!-- GitHub Follow Button -->
      <a
        class="btn btn-github"
        href="https://github.com/tobiasbriones"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>

      <!-- LinkedIn Follow Button -->
      <a
        class="btn btn-linkedin"
        href="https://www.linkedin.com/in/tobiasbriones"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>

      <!-- Twitter Follow Button -->
      <a
        class="btn btn-twitter"
        href="https://twitter.com/tobiasbriones_" target="_blank"
      >
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Mastodon Follow Button -->
      <a
        class="btn btn-mastodon"
        href="https://mastodon.social/@tobiasbriones" target="_blank"
      >
        <i class="fab fa-mastodon"></i>
      </a>

      <!-- YouTube Follow Button -->
      <a
        class="btn btn-youtube"
        href="https://www.youtube.com/@mathsoftwareengineer2772" target="_blank"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </section>

  <!-- <section class="col-6"> -->
  <!--   <h5> -->
  <!--     Math Software -->
  <!--   </h5> -->
  <!--   <ul> -->
  <!--     <li> -->
  <!--       <a href="https://math.software">math.software</a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </section> -->

  <!-- <section class="col-6"> -->
  <!--   <h5> -->
  <!--     MathSwe -->
  <!--   </h5> -->
  <!--   <ul> -->
  <!--     <li> -->
  <!--       <a href="https://mathswe.com">MathSwe</a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </section> -->

  <!-- <section class="col-6"> -->
  <!--   <h5> -->
  <!--     Repsymo -->
  <!--   </h5> -->
  <!--   <ul> -->
  <!--     <li> -->
  <!--       <a href="https://repsymo.com">Repsymo</a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a href="https://repsymo.math.software">Repsymo SW</a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </section> -->

  <!-- <section class="col-6"> -->
  <!--   <h5> -->
  <!--     SWAM -->
  <!--   </h5> -->
  <!--   <ul> -->
  <!--     <li> -->
  <!--       <a href="https://ops.math.software">Ops SW</a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </section> -->

  <section class="col-12 legal">
    <h5>
      Legal
    </h5>
    <!-- <ul> -->
    <!--   <li> -->
    <!--     <a href="/legal">Legal</a> -->
    <!--   </li> -->
    <!-- </ul> -->

    <h6>
      Blog | mathsoftware.engineer
    </h6>

    <p>
      Copyright © 2021-2023 Tobias Briones. All rights reserved.
    </p>

    <div class="notice">
      <p>
        <b>Content</b> licensed under the
        <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-CC">
          CC-BY-4.0 License</a>.
      </p>

      <p>
        <b>Code</b> licensed under the
        <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-BSD">
          BSD-3-Clause License
        </a>.
      </p>

      <p>
        <b>Third-party</b> content is available under their respective source,
        copyright, and/or license. See
        <a href="https://github.com/tobiasbriones/blog/blob/main/NOTICE.md">NOTICE</a>
        for more details.
      </p>
    </div>
  </section>
</div>
