<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta property="og:type" content="article">
<meta name="author" content="Tobias Briones">
<meta name="twitter:creator" content="@tobiasbriones_">
<meta name="twitter:site" content="@tobiasbriones_">
<meta name="twitter:card" content="summary_large_image">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
{% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}


{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
{% if page.ogimage %}<meta property="og:image" content="{{ page.ogimage }}" />{% endif %}
{% if page.ogimage %}<meta property="twitter:image" content="{{ page.ogimage }}" />{% endif %}