<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    I Just Turned the Lights Off, Put My Headphones On, and Read This Crazy Paper About SWE Commandments (2022/10/15)
  </a>
  <ul>
    <li>
      <a href="#context">
        Context
      </a>
      <ul>
        <li>
          <a href="#fun-fact">
            Fun Fact
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#paper-review">
        Paper Review
      </a>
    </li>
    <li>
      <a href="#conclusion">
        Conclusion
      </a>
    </li>
  </ul>
</nav>