<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Initializing the Texsydo GitHub Organization (2024/09/04)
  </a>
  <ul>
    <li>
      <a href="#texsydo-web-and-fx-prototypes">
        Texsydo Web and FX Prototypes
      </a>
    </li>
    <li>
      <a href="#upgrading-the-logo-draft">
        Upgrading the Logo Draft
      </a>
    </li>
    <li>
      <a href="#new-projects">
        New Projects
      </a>
      <ul>
        <li>
          <a href="#oss-license-model">
            OSS License Model
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#moving-texsydo-forward-as-a-new-applied-msw">
        Moving Texsydo Forward as a New Applied MSW
      </a>
    </li>
  </ul>
</nav>