<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Initializing the New Math Software MVP App (2024/01/30)
  </a>
  <ul>
    <li>
      <a href="#fast-paced-prototype">
        Fast Paced Prototype
      </a>
    </li>
    <li>
      <a href="#drafting-new-engineering-standards">
        Drafting new Engineering Standards
      </a>
    </li>
    <li>
      <a href="#milestone-with-logo-upgrades">
        Milestone with Logo Upgrades
      </a>
    </li>
    <li>
      <a href="#web-app">
        Web App
      </a>
    </li>
    <li>
      <a href="#official-mvp-structure">
        Official MVP Structure
      </a>
    </li>
    <li>
      <a href="#setting-up-deployments">
        Setting Up Deployments
      </a>
    </li>
    <li>
      <a href="#expected-mvp-quality">
        Expected MVP Quality
      </a>
    </li>
    <li>
      <a href="#celebrating-the-opening-of-the-premium-app">
        Celebrating the Opening of the Premium App
      </a>
    </li>
    <li>
      <a href="#reaching-production-with-informed-standards">
        Reaching Production with Informed Standards
      </a>
    </li>
  </ul>
</nav>