<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    MathSwe Ops Services v0.1.0 (2024/09/18)
  </a>
  <ul>
    <li>
      <a href="#web-api-to-generate-svg-badges-for-release-and-mathswe-project-name-with-icon">
        Web API to Generate SVG Badges for Release and MathSwe Project Name with Icon
      </a>
    </li>
    <li>
      <a href="#version-badge">
        Version Badge
      </a>
    </li>
    <li>
      <a href="#project-badge">
        Project Badge
      </a>
    </li>
    <li>
      <a href="#badge-automation-for-productive-releases">
        Badge Automation for Productive Releases
      </a>
    </li>
  </ul>
</nav>