<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    MathSwe Com v0.1.0 (2024/10/23)
  </a>
  <ul>
    <li>
      <a href="#initial-cookie-policy-and-brief-home-page-showcasing-existing-projects">
        Initial Cookie Policy and Brief Home Page Showcasing Existing Projects
      </a>
    </li>
    <li>
      <a href="#initial-cookie-policy">
        Initial Cookie Policy
      </a>
    </li>
    <li>
      <a href="#introductory-home-page">
        Introductory Home Page
      </a>
    </li>
    <li>
      <a href="#mathswe-com-operations">
        MathSwe Com Operations
      </a>
    </li>
  </ul>
</nav>