<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    New Article and Code Navigation Features (2023/09/09)
  </a>
  <ul>
    <li>
      <a href="#updates-on-platform-ui-ux-ergonomics">
        Updates on Platform UI UX Ergonomics
      </a>
    </li>
    <li>
      <a href="#article-navigation">
        Article Navigation
      </a>
      <ul>
        <li>
          <a href="#desktop">
            Desktop
          </a>
        </li>
        <li>
          <a href="#mobile">
            Mobile
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#source-code-navigation">
        Source Code Navigation
      </a>
      <ul>
        <li>
          <a href="#accessing-an-article-ep">
            Accessing an Article EP
          </a>
        </li>
        <li>
          <a href="#accessing-an-article-subdirectory">
            Accessing an Article Subdirectory
          </a>
        </li>
        <li>
          <a href="#markdown-and-further-file-rendering">
            Markdown and Further File Rendering
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#testing-new-articles">
        Testing new Articles
      </a>
    </li>
    <li>
      <a href="#page-footer-style">
        Page Footer Style
      </a>
    </li>
    <li>
      <a href="#powering-the-platform-articles-with-advanced-navigation">
        Powering the Platform Articles with Advanced Navigation
      </a>
    </li>
  </ul>
</nav>