<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Product Importation Logistics in HN (2023/11/03)
  </a>
  <ul>
    <li>
      <a href="#importing-products-and-running-businesses-in-hn">
        Importing Products and Running Businesses in HN
      </a>
    </li>
    <li>
      <a href="#transportation-to-hn">
        Transportation to HN
      </a>
    </li>
    <li>
      <a href="#product-importation-history">
        Product Importation History
      </a>
    </li>
    <li>
      <a href="#consumer-industry-examples">
        Consumer Industry Examples
      </a>
    </li>
    <li>
      <a href="#landing-requirements-and-costs">
        Landing Requirements and Costs
      </a>
    </li>
    <li>
      <a href="#local-product-delivery">
        Local Product Delivery
      </a>
    </li>
    <li>
      <a href="#getting-goods-to-customers">
        Getting Goods to Customers
      </a>
    </li>
    <li>
      <a href="#bibliography">
        Bibliography
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>