<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Relating an MIT Symmetry Approach to my Recent Type System Work on Removing Redundancy
  </a>
  <ul>
    <li>
      <a href="#how-symmetry-reduces-complexity">
        How Symmetry Reduces Complexity
      </a>
    </li>
    <li>
      <a href="#how-the-functional-type-system-reduces-complexity">
        How the Functional Type System Reduces Complexity
      </a>
    </li>
    <li>
      <a href="#symmetries-for-the-angle-dsl-and-ml">
        Symmetries for the Angle DSL and ML
      </a>
      <ul>
        <li>
          <a href="#embracing-emerging-abstractions">
            Embracing Emerging Abstractions
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#data-symmetries">
        Data Symmetries
      </a>
    </li>
    <li>
      <a href="#domain-optimization-by-invariant-detection">
        Domain Optimization by Invariant Detection
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>