<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Removing Cycles: A Rounded Rectangle is Not a Quadrilateral (2023/12/19)
  </a>
  <ul>
    <li>
      <a href="#this-quadrilateral-sum-type-is-not-a-partition">
        This Quadrilateral Sum Type is not a Partition
      </a>
      <ul>
        <li>
          <a href="#incorrect-coproduct-design-leading-to-cycles">
            Incorrect Coproduct Design Leading to Cycles
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#incoherent-design-of-rounded-shapes">
        Incoherent Design of Rounded Shapes
      </a>
    </li>
    <li>
      <a href="#fp-first-approach-to-get-the-design-right">
        FP-First Approach to Get the Design Right
      </a>
      <ul>
        <li>
          <a href="#purescript-follows-the-same-principle">
            Purescript Follows the Same Principle
          </a>
        </li>
        <li>
          <a href="#fsharp-experiment">
            FSharp Experiment
          </a>
        </li>
        <li>
          <a href="#rust-makes-it-again">
            Rust Makes It Again
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#fixing-the-rounded-shapes-design">
        Fixing the Rounded Shapes Design
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>