<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Removing Cycles: a Round Polygon is Not a Polygon (2023/12/08)
  </a>
  <ul>
    <li>
      <a href="#vague-idea-of-a-round-rectangle">
        Vague Idea of a Round Rectangle
      </a>
      <ul>
        <li>
          <a href="#round-rect-in-canvas">
            Round Rect in Canvas
          </a>
        </li>
        <li>
          <a href="#the-outer-world">
            The Outer World
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#rounded-rectangle">
        Rounded Rectangle
      </a>
      <ul>
        <li>
          <a href="#degenerate-rounded-rectangle">
            Degenerate Rounded Rectangle
          </a>
        </li>
        <li>
          <a href="#the-math-model-design">
            The Math Model Design
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#leveraging-math-to-clarify-the-rounded-rectangle-design">
        Leveraging Math to Clarify the Rounded Rectangle Design
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>