<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Removing Record Redundancy with Sum and Refinement Types
  </a>
  <ul>
    <li>
      <a href="#physical-redundancy">
        Physical Redundancy
      </a>
    </li>
    <li>
      <a href="#factorizing-the-duplication-with-sum-types">
        Factorizing the Duplication with Sum Types
      </a>
    </li>
    <li>
      <a href="#enriching-the-domain-types-with-refinements">
        Enriching the Domain Types with Refinements
      </a>
    </li>
    <li>
      <a href="#removing-field-redundancy-for-memory-optimization">
        Removing Field Redundancy for Memory Optimization
      </a>
    </li>
    <li>
      <a href="#principles-for-engineers">
        Principles for Engineers
      </a>
    </li>
    <li>
      <a href="#fixing-redundancy-is-a-major-key-to-simplify-systems">
        Fixing Redundancy is a Major Key to Simplify Systems
      </a>
    </li>
  </ul>
</nav>