<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Testing the Texsydo FX Prototype for over a Month (2024/09/03)
  </a>
  <ul>
    <li>
      <a href="#pr-and-release-articles">
        PR and Release Articles
      </a>
    </li>
    <li>
      <a href="#introducing-texsydo">
        Introducing Texsydo
      </a>
    </li>
    <li>
      <a href="#texsydo-fx-prototype">
        Texsydo FX Prototype
      </a>
      <ul>
        <li>
          <a href="#integration-of-texsydo-fx-into-texsydo-web">
            Integration of Texsydo FX into Texsydo Web
          </a>
        </li>
        <li>
          <a href="#javafx-implementation">
            JavaFX Implementation
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>