<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Texsydo Home v0.1.0 | Texsydo MVP (2024/10/13)
  </a>
  <ul>
    <li>
      <a href="#new-home-page-with-conceptualization-and-prototypes">
        New Home Page with Conceptualization and Prototypes
      </a>
    </li>
    <li>
      <a href="#text">
        Text
      </a>
    </li>
    <li>
      <a href="#web">
        Web
      </a>
    </li>
    <li>
      <a href="#fx">
        FX
      </a>
    </li>
    <li>
      <a href="#canvas-play">
        Canvas Play
      </a>
    </li>
    <li>
      <a href="#home-page-with-results-of-texsydo-prototypes">
        Home Page with Results of Texsydo Prototypes
      </a>
    </li>
  </ul>
</nav>