<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Text Ops: New Add PR Command (2024/03/23)
  </a>
  <ul>
    <li>
      <a href="#a-new-major-project-with-mathswe-text">
        A New Major Project with MathSwe Text
      </a>
    </li>
    <li>
      <a href="#communication-from-technical-development-to-engineering-results">
        Communication from Technical Development to Engineering Results
      </a>
    </li>
    <li>
      <a href="#add-pr-command">
        Add-PR Command
      </a>
    </li>
    <li>
      <a href="#pr-article-operations">
        PR Article Operations
      </a>
    </li>
  </ul>
</nav>