<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    This Article Represents a Milestone for Me (2022/12/18)
  </a>
  <ul>
    <li>
      <a href="#composable">
        Composable
      </a>
    </li>
    <li>
      <a href="#cohesive">
        Cohesive
      </a>
    </li>
    <li>
      <a href="#homogeneous">
        Homogeneous
      </a>
      <ul>
        <li>
          <a href="#generic-templates">
            Generic Templates
          </a>
        </li>
        <li>
          <a href="#how-i-homogenized-my-previous-article">
            How I Homogenized My Previous Article
          </a>
        </li>
        <li>
          <a href="#check-the-commits">
            Check the Commits
          </a>
        </li>
        <li>
          <a href="#do-not-use-plurals">
            Do not Use Plurals
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#how-i-applied-cohesion-to-this-same-article">
        How I Applied Cohesion to This Same Article
      </a>
      <ul>
        <li>
          <a href="#recursive-fun-fact">
            Recursive Fun Fact
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#open-graph-cover">
        Open Graph Cover
      </a>
      <ul>
        <li>
          <a href="#we-should-check-out-the-pipe-on-the-home-value-as-well">
            We Should Check Out the Pipe on the Home Value As Well
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#i-am-infinitely-thankful">
        I am Infinitely Thankful
      </a>
    </li>
  </ul>
</nav>