<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Troubleshooting Diary
  </a>
  <ul>
    <li>
      <a href="#dev">
        Dev
      </a>
      <ul>
        <li>
          <a href="#sections-manager">
            Sections Manager
          </a>
          <ul>
            <li>
              <a href="#an-illegal-reflective-access-operation-has-occurred-in-apache-poi">
                An Illegal Reflective Access Operation has Occurred in Apache POI
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#course-project">
            Course Project
          </a>
          <ul>
            <li>
              <a href="#distributed-text-file-system">
                Distributed Text File System
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#miscellaneous">
        Miscellaneous
      </a>
      <ul>
        <li>
          <a href="#daily-dev">
            Daily Dev
          </a>
          <ul>
            <li>
              <a href="#kotlin-tolist-method-not-found">
                Kotlin toList Method not Found
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#machine-learning">
            Machine Learning
          </a>
          <ul>
            <li>
              <a href="#tensorflow-model-not-learning-due-to-unshuffled-training-dataset">
                TensorFlow Model not Learning due to Unshuffled Training Dataset
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>