<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Visualization Caption (2023/10/01)
  </a>
  <ul>
    <li>
      <a href="#importance-of-captions">
        Importance of Captions
      </a>
    </li>
    <li>
      <a href="#caption-design">
        Caption Design
      </a>
      <ul>
        <li>
          <a href="#source-home">
            Source Home
          </a>
        </li>
        <li>
          <a href="#sub-home">
            Sub-Home
          </a>
        </li>
        <li>
          <a href="#visualization-title">
            Visualization Title
          </a>
        </li>
        <li>
          <a href="#visualization-abstract-title">
            Visualization Abstract Title
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#caption-dimensions">
        Caption Dimensions
      </a>
    </li>
    <li>
      <a href="#caption-samples-in-animations">
        Caption Samples in Animations
      </a>
    </li>
    <li>
      <a href="#reading-the-context-dsl-with-the-pipe-operator">
        Reading the Context DSL with the Pipe Operator
      </a>
      <ul>
        <li>
          <a href="#no-redundant-context-in-domain-components">
            No Redundant Context in Domain Components
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#first-visualization-caption-standard">
        First Visualization Caption Standard
      </a>
    </li>
    <li>
      <a href="#references">
        References
      </a>
    </li>
  </ul>
</nav>