div.carousel-inner {
  border: 0.0625rem solid #e0e0e0;
  border-radius: 1rem;
}

div.carousel {
  display: flex;
  align-items: center;
  margin: auto;
}

div.carousel-item {
  overflow: auto;
}

div.carousel-inner img {
  width: 100%;
  margin: auto;
}

div.carousel.zoom-in img {
  width: 175%;
}

div.carousel + h5 {
  padding: 0.5rem;
  margin-top: 0;
  border-radius: 0.5rem;
  border: 0.0625rem none #e0e0e0;
  border-bottom-style: solid;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  color: var(--title-text-color);
}

div.fullscreen-active .carousel-inner {
  border: none;
}

div.fullscreen-active .carousel-inner,
div.fullscreen-active .carousel-item, {
  width: 100%;
}

.carousel-indicators {
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-next, .carousel-control-prev {
  height: 80%; // Avoid colliding with bottom controls
  top: 10%;
}

.carousel-control-next .icon,
.carousel-control-prev .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

button.fullscreen,
button.zoom {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 0.5rem;
  align-items: center;
  justify-content: center;
  border: none;
  background: rgba(0, 0, 0, 0.1) none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

button.fullscreen {
  right: 0.5rem;
}

button.zoom {
  left: 0.5rem;
}

button.fullscreen:hover,
button.zoom:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button.fullscreen > .enter,
button.zoom > .enter {
  display: block;
}

button.zoom > .exit {
  display: none;
}

.fullscreen-active > button.fullscreen > .enter {
  display: none;
}

button.fullscreen > .exit {
  display: none;
}

.carousel.zoom-in button.zoom > .enter {
  display: none;
}

.carousel.zoom-in button.zoom > .exit {
  display: block;
}

.fullscreen-active > button.fullscreen > .exit {
  display: block;
}

button.fullscreen > .material-symbols-rounded,
button.zoom > .material-symbols-rounded {
  font-size: 1.25rem;
  color: white;
}

@media screen and (min-width: 720px) {
  div.carousel.portrait {
    width: 60%;
  }

  button.fullscreen,
  button.zoom {
    bottom: 1rem;
  }

  button.fullscreen {
    right: 1rem;
  }

  button.zoom {
    left: 1rem;
  }

  .carousel-indicators {
    margin-bottom: 1rem;
  }

  .carousel-control-next .icon,
  .carousel-control-prev .icon {
    width: 3rem;
    height: 3rem;
  }

  div.fullscreen-active .carousel-control-next .icon,
  div.fullscreen-active .carousel-control-prev .icon {
    width: 4rem;
    height: 4rem;
  }
}
