{% include menu.html %}

{% if site.github.is_project_page %}
<p>
  This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
</p>
{% endif %}

<div>
  Follow me for more original content:

  <div class="social my-2">
    <!-- GitHub Follow Button -->
    <a
      class="btn  btn-github"
      href="https://github.com/tobiasbriones"
      target="_blank"
    >
      <i class="fab fa-github"></i>
      <strong>@tobiasbriones</strong>
    </a>

    <!-- LinkedIn Follow Button -->
    <a
      class="btn btn-linkedin"
      href="https://www.linkedin.com/in/tobiasbriones"
      target="_blank"
    >
      <i class="fab fa-linkedin"></i>
      <strong>@tobiasbriones</strong>
    </a>

    <!-- Twitter Follow Button -->
    <a
      class="btn  btn-twitter"
      href="https://twitter.com/tobiasbriones_" target="_blank"
    >
      <i class="fab fa-twitter"></i>
      <strong>@tobiasbriones_</strong>
    </a>
  </div>
</div>

<div style="font-size: 10px;">
  <p><strong>Blog. </strong>© 2021-2023 Tobias Briones.</p>
  <p>Content licensed under the
    <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-CC">CC-BY-4.0
      License</a>. Code licensed
    under the
    <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-BSD">BSD-3-Clause
      License</a>. See
    <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE.md">LICENSE</a>
    for more
    details.</p>
  <hr>
  <p style="font-size: 10px;">Third-party content is available under
    their respective source,
    copyright, and/or license. See
    <a href="https://github.com/tobiasbriones/blog/blob/main/NOTICE.md">NOTICE</a>
    for more details.</p>
</div>
