{% if page.permalink %}
<base href="/{{ page.permalink | replace: '.html', ''}}/" />
{% endif %}

<meta
  name="robots"
  content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
>
<meta property="og:type" content="article">
<meta name="author" content="Tobias Briones">
<meta name="twitter:creator" content="@tobiasbriones_">
<meta name="twitter:site" content="@tobiasbriones_">
<meta name="twitter:card" content="summary_large_image">

{% if page.title %}<title>{{ page.title }}</title>{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">{% endif %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}"/>{% endif %}
{% if page.ogimage %}
<meta property="og:image" content="{{ page.ogimage }}"/>{% endif %}
{% if page.ogimage %}
<meta property="twitter:image" content="{{ page.ogimage }}"/>{% endif %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"
></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
>
<link
  href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
  rel="stylesheet"
>

<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });



</script>

<script
  src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
  data-auto-replace-svg="nest"
></script>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
/>

<style>
    :root {
        --content-background-color: #fff;
        --title-text-color: #212121;
        --content-text-color: #424242;
        --secondary-text-color: #616161;
        --third-text-color: #757575;
        --accent-color: #607d8b;
        --hover-background-color: #f5f5f5;
    }

    :root {
        --content-padding: 5%;
    }

    * {
        font-family: 'Poppins', sans-serif;
    }

    html {
        font-size: 16px;
    }

    body {
        background-color: var(--content-background-color);
        color: var(--content-text-color);
    }

    section {
        margin-bottom: 25vh;
    }

    article {
        padding: var(--content-padding);
    }

    footer {
        padding: var(--content-padding);
        margin-bottom: 64px;
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: calc(100% - 63px);
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: stretch;
        z-index: 2;
        background-color: var(--content-background-color);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    nav.show {
        transform: translateX(0%);
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav .home {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    nav .home span {
        font-size: 2rem;
        font-weight: bold;

        color: var(--title-text-color);
    }

    nav .home span.material-symbols-rounded {
        font-size: 2rem;
        color: var(--accent-color);
    }

    nav .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    nav .article {
        display: flex;
        height: calc(100% - 63px);
        flex-direction: column;
    }

    nav .article > ul {
        padding: var(--content-padding);
        padding-top: 0;
        flex: 1;
        overflow: auto;
    }

    nav a {
        display: block;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        text-decoration: none;
        color: var(--title-text-color);
    }

    nav a:hover {
        text-decoration: none;
    }

    nav a.selected {
        font-weight: bold;
    }

    nav a:hover {
        background-color: var(--hover-background-color);
    }

    nav ul ul {
        padding-left: 1rem;
    }

    nav ul ul ul {
        padding-left: 2rem;
    }

    .menu {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--content-background-color);
        border-top: 1px solid #e0e0e0;
        z-index: 3;
    }

    .menu-item {
        width: 20%;
        padding: 0.5rem;
        cursor: pointer;
    }

    .menu-item > .title {
        font-size: 0.75rem;
        text-align: center;
        color: var(--third-text-color);
        margin-bottom: 0.25rem;
    }

    .menu-item > .icon > span {
        display: block;
        font-size: 1.5rem;
        margin: auto;
        color: var(--third-text-color);
        text-align: center;
    }

    h1, h2, h3, h4, h5 {
        font-weight: bold;
        color: var(--title-text-color);
    }

    .footnotes p {
        color: var(--secondary-text-color);
    }

    blockquote {
        padding: 0 1rem;
        border-left: 1px solid #e0e0e0;
    }

    blockquote p:not(:last-child) {
        color: var(--third-text-color);
    }

    p img {
        display: block;
        max-width: 100%;
        border-radius: 1rem;
        margin: auto;
    }

    pre {
        background-color: #fafafa !important;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    code {
        background-color: #fafafa;
        border: 1px solid #E0E0E0;
        border-radius: 0.25rem;
        padding: 0 0.25rem;
        color: inherit;
        font-family: 'JetBrains Mono', monospace;
    }

    pre {
        margin: 0;
    }

    pre code {
        border: none;
        border-radius: 0;
        padding: 0;
    }

    div > div.highlight {
        border: 1px solid #E0E0E0;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    code > span {
        font-family: 'JetBrains Mono', monospace;
    }

    figcaption strong {
        color: var(--title-text-color);
    }

    strong {
        color: var(--content-text-color);
    }

    @media screen and (min-width: 720px) {
        :root {
            --content-padding: 4vw;
        }

        section {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        footer {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        nav .article > ul {
            width: 60%;
            margin: auto;
        }
    }

    @media screen and (min-width: 1080px) {
        :root {
            --content-padding: 2vw;
        }

        section {
            width: 40%;
            margin-top: 4rem;
        }

        article {
            padding-top: 0.125rem;
        }

        footer {
            width: 40%;
            margin-bottom: 0;
        }

        nav {
            width: 30%;
        }

        nav .article > ul {
            width: 100%;
        }

        .menu {
            width: 30%;
            left: 0;
            border-top: none;
        }

        .menu-item {
            width: 50%;
            padding: 0.5rem 4%;
        }
    }

    @media screen and (min-width: 2160px) {
        nav .article > ul {
            width: 60%;
            margin: auto;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', initApp);

    function initApp() {
        const nav = document.querySelector('nav');

        updateFilePath();
        initMenu();
        initNav();

        function initMenu() {
            const navButton = document.getElementById('nav-item');

            navButton.addEventListener('click', onNavItemClick);

            function onNavItemClick() {
                if (isNavShowing()) {
                    hideNav();
                } else {
                    showNav();
                }
            }
        }

        function initNav() {
            const anchors = document.querySelectorAll('nav .article a');
            let mobile = isMobile();

            const updateSelectedAnchor = hash => {
                anchors.forEach(anchor => {
                    if (anchor.getAttribute('href') === hash) {
                        anchor.classList.add('selected');
                        makeAnchorVisibleInNav(anchor);
                    } else {
                        anchor.classList.remove('selected');
                    }
                });
            };


            anchors.forEach(anchor => {
                anchor.addEventListener('click', event => {
                    event.preventDefault();
                    if (mobile) {
                        hideNav();
                    }
                    scrollTo(anchor);
                });
            });
            updateSelectedAnchor(window.location.hash);

            if (!mobile) {
                showNav();
            }

            window.addEventListener('hashchange', () => updateSelectedAnchor(window.location.hash));
            window.addEventListener('scroll', selectAnchorFromScrollPosition);
            window.addEventListener('load', scrollToHashHeading);
            window.addEventListener('resize', () => {
                const newMobile = isMobile();

                if (newMobile !== mobile) {
                    // Changed from desktop to mobile
                    if (newMobile) {
                        hideNav();
                    } else {
                        showNav();
                    }
                    mobile = newMobile;
                }
            });


            function makeAnchorVisibleInNav(anchor) {
                const anchorRect = anchor.getBoundingClientRect();
                const navRect = nav.getBoundingClientRect();

                if (anchorRect.top < navRect.top || anchorRect.bottom > navRect.bottom) {
                    nav.scrollTo({
                        top: anchorRect.top + navRect.height / 2,
                        behavior: 'smooth',
                    });
                }
            }

            function selectAnchorFromScrollPosition() {
                const focusedHeading = getFocusedHeading();
                const headingId = focusedHeading.getAttribute('id');
                const hash = `#${headingId}`;

                if (headingId) {
                    updateSelectedAnchor(hash);
                }
            }

            function scrollToHashHeading() {
                if (!window.location.hash.startsWith('#')) {
                    return;
                }
                const hash = window.location.hash;
                const heading = document.querySelector(hash);
                heading.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start',
                });
            }
        }

        function isNavShowing() {
            return nav.classList.contains('show');
        }

        function showNav() {
            nav.classList.add('show');
        }

        function hideNav() {
            nav.classList.remove('show');
        }

        function isMobile() {
            return window.innerWidth < 1080;
        }
    }

    function scrollTo(anchor) {
        if (!anchor.href) {
            return;
        }
        const targetId = anchor.attributes.href.value;

        if (targetId === '#') {
            history.pushState({}, document.title, window.location.pathname + window.location.search);

            document.body.scrollIntoView({
                behavior: 'smooth',
                block: 'start',
            });
            return;
        }

        const targetSection = document.querySelector(targetId);

        if (targetSection) {
            history.pushState({}, document.title, targetId);

            targetSection.scrollIntoView({
                behavior: 'smooth',
                block: 'start',
            });
        }
    }

    function getFocusedHeading() {
        const headings = selectHeadings();
        const isVisible = heading => {
            const rect = heading.getBoundingClientRect();
            return rect.bottom >= 0 && rect.bottom < window.innerHeight
        };
        const visibleHeadings = [];
        let invisibleHeadingClosestToTop = headings[0];

        for (let i = 0; i < headings.length; i++) {
            const heading = headings[i];

            if (isVisible(heading)) {
                visibleHeadings.push(heading);
            }
            // Check for the heading right above the page
            else {
                const rect = heading.getBoundingClientRect();
                const maxRect = invisibleHeadingClosestToTop.getBoundingClientRect();

                if (rect.bottom < 0) {
                    if (rect.bottom > maxRect.bottom) {
                        invisibleHeadingClosestToTop = heading;
                    }
                }
            }
        }

        // Return the closest heading if none is visible
        if (visibleHeadings.length === 0) {
            return invisibleHeadingClosestToTop;
        }

        // Return the heading in the top 1/3 of the page (normal behavior)
        for (const heading of visibleHeadings) {
            const rect = heading.getBoundingClientRect();

            if (rect.top < window.innerHeight / 3) {
                return heading;
            }
        }
        return invisibleHeadingClosestToTop;
    }

    function updateFilePath() {
        const pageTitle = document.querySelector('h1').textContent;

        // It's a file like DataTest.java
        // This path update is necessary since Netlify lowercase the path
        if (pageTitle.includes('.')) {
            const currentPath = window.location.pathname;
            const pathSegments = currentPath.split('/');

            pathSegments[pathSegments.length - 1] = pageTitle;
            const newPath = pathSegments.join('/');

            history.replaceState(null, null, newPath);
        }
    }

    function selectHeadings() {
        return document.querySelectorAll('h1, h2, h3, h4, h5, h6');
    }
</script>

<style>
    .social .btn {
        padding: 0.125rem 0.5rem;
        margin: 0.25rem;
    }

    .social i,
    .social strong {
        font-size: 0.75rem;
        color: white !important;
    }

    .social .btn:active {
        border: 1px solid #fafafa;
    }

    .social a:hover {
        text-decoration: none;
    }

    /* Customize Twitter button color */
    .btn-twitter {
        background-color: #1DA1F2;
        border-radius: 16px;
    }

    .btn-twitter:hover,
    .btn-twitter:active {
        background-color: #0e81ce !important; /* Slightly darker color when hovered */
    }

    /* Customize GitHub button color */
    .btn-github {
        background-color: #333;
        border-radius: 16px;
    }

    .btn-github:hover,
    .btn-github:active {
        background-color: #222 !important; /* Slightly darker color when hovered */
    }

    /* Customize LinkedIn button color */
    .btn-linkedin {
        background-color: #0077B5;
        border-radius: 16px;
    }

    .btn-linkedin:hover,
    .btn-linkedin:active {
        background-color: #005d8c !important; /* Slightly darker color when hovered */
    }

    .open-gh-btn .btn {
        padding: 0.5rem 1.5rem;
        margin: 0.25rem;
    }

    .open-gh-btn i,
    .open-gh-btn strong {
        font-size: 1.25rem;
    }

    .open-gh-btn strong {
        margin-left: 1rem;
    }

    .subdir-btn .btn {
        padding: 0.5rem 1.5rem;
        background-color: #eeeeee;
    }

    .subdir-btn .btn:hover,
    .subdir-btn .btn:active {
        background-color: #e0e0e0;
    }

    .subdir-btn a:hover {
        text-decoration: none;
    }

    .subdir-btn strong {
        font-size: 1.25rem;
        margin-left: 1rem;
    }

    .subdir-btn .btn:active {
        border: 1px solid #fafafa;
    }

    .subdir-btn img {
        width: 1.75rem;
        height: 1.75rem;
        margin: 0.125rem 0;
    }
</style>
