<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  {% include head-custom.html %}
</head>
<body>
  <div class="wrapper">
    <header>

    </header>
    <section>
      <article>
      {{ content }}
      </article>
    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}

      <div>
        Follow me for more original content:

        <div class="social my-2">
          <!-- GitHub Follow Button -->
          <a class="btn  btn-github" href="https://github.com/tobiasbriones" target="_blank">
            <i class="fab fa-github"></i>
            <strong>@tobiasbriones</strong>
          </a>

          <!-- LinkedIn Follow Button -->
          <a class="btn btn-linkedin" href="https://www.linkedin.com/in/tobiasbriones" target="_blank">
            <i class="fab fa-linkedin"></i>
            <strong>@tobiasbriones</strong>
          </a>

          <!-- Twitter Follow Button -->
          <a class="btn  btn-twitter"
             href="https://twitter.com/tobiasbriones_" target="_blank">
            <i class="fab fa-twitter"></i>
            <strong>@tobiasbriones_</strong>
          </a>
        </div>
      </div>

      <div style="font-size: 10px;">
        <p><strong>Blog. </strong>© 2021-2023 Tobias Briones.</p>
        <p>Content licensed under the <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-CC">CC-BY-4.0 License</a>. Code licensed
           under the <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE-BSD">BSD-3-Clause License</a>. See <a href="https://github.com/tobiasbriones/blog/blob/main/LICENSE.md">LICENSE</a> for more
           details.</p>
        <hr>
        <p style="font-size: 10px;">Third-party content is available under
                                    their respective source,
           copyright, and/or license. See <a href="https://github.com/tobiasbriones/blog/blob/main/NOTICE.md">NOTICE</a> for more details.</p>
      </div>
    </footer>

    <div class="menu">
      <div id="nav-item" class="menu-item">
        <div class="title">Navigation</div>
        <div class="icon">
            <span class="material-symbols-rounded">
          toc
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
